# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
*.lock
vs/.vs/AXE/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
vs/axe-test.log
*.user
*.log
*.recipe
*.lastbuildstate
*.pdb
*.ilk
*.tlog
*.idb
*.lastcodeanalysissucceeded
*.iobj
*.ipdb
vs/axe_test/x64/Release/obj/CodeAnalysisResultManifest.txt
*.sarif
